<?xml version="1.0"?>
<!--
/**
* Dentsu Software.
*
* @category  catalog
* @package   Dentsu_Trainercourse
* @author    Team A
* @license   
*/
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Dentsu_Trainera" setup_version="0.0.1">
        <sequence>
            <module name="Magento_Customer"/>
            <module name="Magento_Authorization"/>
        </sequence>
    </module>
</config>